.login-page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-left{
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-left img{
    width: 100%;
    height: 100%;
}
.login-right{
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-heading{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}
.login-heading h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffff;
}
.login-form{
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.login-form div{
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.login-form div label{
    width: 100%;
    font-weight: 600;
    color: black;
}
.login-form div input{
    width: 100%;
    height:40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}
.login-form>div:last-child button{
   width: 100px;
   height: 35px;
   background-color: teal;
   border: none;
   color: #ffff;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 1px;
   border-radius: 5px;
   cursor: pointer;
}
.signup{
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.signup p{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.signup p span{
    color: blue;
    font-weight: 600; 
}
.signup p span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.signup-form{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.signup-form div{
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}
.signup-form div label{
    width: 100%;
    font-weight: 600;
    color: black;
}
.signup-form div input{
    width: 100%;
    height:40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}
.signup-form>div:last-child button{
   width: 100px;
   height: 35px;
   background-color: teal;
   border: none;
   color: #ffff;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 1px;
   border-radius: 5px;
   cursor: pointer;
}
